@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-50: 9, 9, 11;
  --body-100: 24, 24, 27;
  --body-200: 39, 39, 42;
  --body-300: 63, 63, 70;
  --body-400: 82, 82, 91;
  --body-500: 113, 113, 122;
  --body-600: 161, 161, 170;
  --body-700: 212, 212, 216;
  --body-800: 228, 228, 231;
  --body-900: 244, 244, 245;
  --body-940: 240, 240, 240;
  --body-950: 250, 250, 250;

  --primary-50: 4, 47, 46;
  --primary-100: 19, 78, 74;
  --primary-200: 7, 94, 89;
  --primary-300: 15, 118, 110;
  --primary-400: 13, 148, 136;
  --primary-500: 13, 148, 136;
  --primary-600: 13, 148, 136;
  --primary-700: 13, 148, 136;
  --primary-800: 13, 148, 136;
  --primary-900: 13, 148, 136;
  --primary-950: 45, 212, 191;

  --error: 220, 38, 38;
  --select-bg: 24, 81, 70;
}

.dark {
  --body-950: 9, 9, 11;
  --body-940: 21, 21, 25;
  --body-900: 24, 24, 27;
  --body-800: 39, 39, 42;
  --body-700: 63, 63, 70;
  --body-600: 82, 82, 91;
  --body-500: 113, 113, 122;
  --body-400: 161, 161, 170;
  --body-300: 212, 212, 216;
  --body-200: 228, 228, 231;
  --body-100: 244, 244, 245;
  --body-50: 250, 250, 250;

  --primary-950: 4, 47, 46;
  --primary-900: 19, 78, 74;
  --primary-800: 7, 94, 89;
  --primary-700: 15, 118, 110;
  --primary-600: 13, 148, 136;
  --primary-500: 20, 184, 166;
  --primary-400: 45, 212, 191;
  --primary-300: 94, 234, 212;
  --primary-200: 153, 246, 228;
  --primary-100: 204, 251, 241;
  --primary-50: 240, 253, 250;
}

@layer base {
  html {
    font-size: 16px;
  }

  @media screen and (max-width: 460px) {
    html {
      font-size: 15px;
    }
  }

  @font-face {
    font-family: Inter;
    src: url("assets/fonts/Inter/Inter-Regular.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: Inter;
    src: url("assets/fonts/Inter/Inter-Medium.ttf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: Inter;
    src: url("assets/fonts/Inter/Inter-SemiBold.ttf") format("opentype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: Lora;
    src: url("assets/fonts/Lora/Lora-Bold.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */

  * {
    scrollbar-width: thin;
    scrollbar-color: #454545 #00000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #00000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #454545;
    border-radius: 0px;
    border: 3px none #00000000;
  }

  *:focus-visible {
    outline: 2px solid grey;
  }
}
